
td {
    width: 60px;
    height: 60px;
}
.color2 {
    background-color:#ffffe0;
    width: 50px;
    height: 50px;
    width: 60px;
    height: 60px;
}

.color1 {
    background-color:#556b2f;
    width :50px;
    height: 50px;
    width: 60px;
    height: 60px;
}